# LÖVE / Lua Build & Release Files
*.love
luac.out
*.zip
*.tar.gz
*.exe
*.app
*.dll
*.so
*.dylib

# Object & Library files
*.o
*.a
*.lib

# Visual Studio Code
.vscode/
*.code-workspace
build/windows/license.txt
